@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.App {
  text-align: center;
}
.App h2 {
  margin-bottom: 20px;
}

.App ul {
  text-align: center;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

.header {
  background-color: aquamarine;
  /* background-image: url('./images/cart.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100px;
}
